<%- include ('partials/header') %>
<%- include ('partials/homenavbar') %>

<div class="container">
    <h1><%= article.title %></h1>
    <div>
        <%- article.content %>
    </div>
</div>

<%- include ('partials/footer') %>